
ProcssMan/ProcssMan/obj/Debug/ProcssMan.csproj.FileListAbsolute.txt
ProcessManager/ProcessManager/obj/Debug/ProcessManager.csproj.FileListAbsolute.txt
ProcessManager/.vs/ProcessManager/v14/.suo
ProcessManager/ProcessManager/bin/Debug/ProcessManager.exe
ProcessManager/ProcessManager/bin/Debug/ProcessManager.pdb
ProcessManager/ProcessManager/obj/Debug/ProcessManager.exe
ProcessManager/ProcessManager/obj/Debug/ProcessManager.pdb
ProcessManager/ProcessManager/ProcessManager.csproj
ProcssMan/.vs/ProcssMan/v14/.suo
ProcssMan/ProcssMan/bin/Debug/ProcssMan.exe
ProcssMan/ProcssMan/bin/Debug/ProcssMan.pdb
ProcssMan/ProcssMan/obj/Debug/ProcssMan.exe
ProcssMan/ProcssMan/obj/Debug/ProcssMan.pdb
ProcssMan/ProcssMan/ProcssMan.csproj
ProcessManager/.vs/ProcessManager/v14/.suo
ProcessManager/ProcessManager/bin/Debug/ProcessManager.exe
ProcessManager/ProcessManager/bin/Debug/ProcessManager.pdb
ProcessManager/ProcessManager/obj/Debug/ProcessManager.exe
ProcessManager/ProcessManager/obj/Debug/ProcessManager.pdb
ProcessManager/ProcessManager/ProcessManager.csproj
ProcssMan/.vs/ProcssMan/v14/.suo
ProcssMan/ProcssMan/bin/Debug/ProcssMan.exe
ProcssMan/ProcssMan/bin/Debug/ProcssMan.pdb
ProcssMan/ProcssMan/obj/Debug/ProcssMan.exe
ProcssMan/ProcssMan/obj/Debug/ProcssMan.pdb
ProcssMan/ProcssMan/ProcssMan.csproj
ProcessManager/.vs/ProcessManager/v14/.suo
ProcessManager/ProcessManager/bin/Debug/ProcessManager.exe
ProcessManager/ProcessManager/bin/Debug/ProcessManager.pdb
/ProcessManager/.vs/ProcessManager/v15/Server/sqlite3/db.lock
